@import '../admin.component.css';


.reject-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.reject-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
}

.reject-modal textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reject-modal button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.reject-modal .confirm-reject {
    background-color: #dc3545;
    color: white;
}

.reject-modal button:hover {
    background-color: #0056b3;
}

.reject-modal .confirm-reject:hover {
    background-color: #c82333;
}

.reject-modal button:nth-child(2) {
    background-color: #ccc;
}

.reject-modal button:nth-child(2):hover {
    background-color: #999;
}

.reject-modal button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
