<app-header/>

<body>
    <div class="profile-container">
        <div class="left-section">
            <a (click)="openPopup()">
                <img [src]="userDetails.picture" alt="User Profile Picture" class="profile-picture">
            </a>
            @if (showPopup) {
                <div class="modal" (click)="closePopup()">
                    <div class="modal-content" (click)="$event.stopPropagation()">
                        <img [src]="userDetails.picture" alt="User Profile Picture" class="modal-picture">
                    </div>
                </div>
            }
            <div class="profile-button">
                @if (userDetails.username === username) {
                    <a href="profile/edit">Edit Profile</a>
                }

                @if (userDetails.username !== username) {
                    @if (!isFriend && !hasPendingRequest && !isBlocked) {
                        <button (click)="addFriend()" class="btn btn-primary">Add Friend</button>
                    }

                    @if (isFriend && !isBlocked) {
                        <button (click)="removeFriend()" class="btn btn-danger">Remove Friend</button>
                    }

                    @if (hasPendingRequest && !isBlocked) {
                        <button (click)="cancelFriendRequest()" class="btn btn-warning">Cancel Friend Request</button>
                    }

                    @if (!isFollowing && !isBlocked) {
                        <button (click)="followUser()" class="btn btn-secondary">Follow</button>

                    }

                    @if (isFollowing && !isBlocked) {
                        <button (click)="unfollowUser()" class="btn btn-danger">Unfollow</button>
                    }

                    @if (!isBlocked) {
                        <button class="btn btn-danger" (click)="confirmBlock(userDetails)">Block</button>
                    }

                    @if (isBlocked) {
                        <button class="btn block-btn" (click)="confirmUnblockBlock(userDetails)">Unblock</button>
                    }

                    <button class="btn report-btn" (click)="openReportUserModal(userDetails)">Report User</button>
                }
            </div>
            <div class="info">
                <p><strong>Username:</strong> {{ userDetails.username }} </p>
                <p><strong>Name:</strong> {{ userDetails.name }} </p>
                <p><strong>Country:</strong> {{ userDetails.country }} </p>
                <p><strong>City:</strong> {{ userDetails.city }} </p>
                <p><strong>Gender:</strong> {{ userDetails.gender }} </p>
                <p><strong>Age:</strong> {{ userDetails.age }} </p>
                <p><strong>Rank:</strong> {{ userDetails.rank }} </p>
                <p><strong>Points collected:</strong> {{ userDetails.points }} </p>
            </div>
            <div class="friends-followers">
                @if (userDetails.username === username) {
                    <h3>Friends - <span>{{ friends.length }}</span></h3>
                }
                @if (userDetails.username !== username) {
                    <h3>Friends - <span>{{ currFriends.length }}</span></h3>
                }
                <div class="list">
                    @if (userDetails.username === username) {
                        @for (friend of friends.slice(0, 4); track friend.id) {
                            <div class="list-item">
                                <img [src]="friend.profilePicturePath" alt="{{ friend.username }}">
                                <p>{{ friend.username }}</p>
                            </div>
                        }
                    }
                    @if (userDetails.username !== username) {
                        @for (friend of currFriends.slice(0, 4); track friend.id) {
                            <div class="list-item">
                                <img [src]="friend.profilePicturePath" alt="{{ friend.username }}">
                                <p>{{ friend.username }}</p>
                            </div>
                        }
                    }

                </div>

                @if (userDetails.username !== username) {
                    <div class="view-all">
                        <a (click)="openFriendsModal()" class="button">See All Friends</a>
                    </div>
                } @else {
                    <div class="view-all">
                        <a href="/profile/friends">See All Friends</a>
                    </div>
                }

                @if (userDetails.username === username) {
                    <h3>Followers - <span>{{ followers.length }}</span></h3>
                }
                @if (userDetails.username !== username) {
                    <h3>Followers - <span>{{ currFollowers.length }}</span></h3>
                }
                <div class="list">
                    @if (userDetails.username == username) {
                        @for (follower of followers.slice(0, 4); track follower.id) {
                            <div class="list-item">
                                <img [src]="follower.profilePicturePath" alt="{{ follower.username }}">
                                <p>{{ follower.username }}</p>
                            </div>
                        }
                    }
                    @if (userDetails.username !== username) {
                        @for (follower of currFollowers.slice(0, 4); track follower.id) {
                            <div class="list-item">
                                <img [src]="follower.profilePicturePath" alt="{{ follower.username }}">
                                <p>{{ follower.username }}</p>
                            </div>
                        }
                    }
                </div>
                @if (userDetails.username !== username) {
                    <div class="view-all">
                        <a (click)="openFollowerModal()" class="button">See All Friends</a>
                    </div>
                } @else {
                    <div class="view-all">
                        <a href="/profile/followers">See All Followers</a>
                    </div>
                }
            </div>
        </div>
        <div class="main-section">
            <div class="inner-section trophies">
                <h2>Achievement</h2>
                <div class="content">
                    <div class="trophy">
                        <img src="../../../assets/images/gold-winner.png" alt="Gold Winner">
                        <strong>Win</strong>
                        <strong>Daily Challenges:</strong>
                        <strong>{{ userChallengesStats.numberOfDailyWinChallenges }} times</strong>
                    </div>
                    <div class="trophy">
                        <img src="../../../assets/images/gold-winner.png" alt="Silver Winner">
                        <strong>Win</strong>
                        <strong>Themed Challenges:</strong>
                        <strong>{{ userChallengesStats.numberOfThemedWinChallenges }} times</strong>
                    </div>
                    <div class="trophy">
                        <img src="../../../assets/images/gold-winner.png" alt="Bronze Winner">
                        <strong>Win</strong>
                        <strong>Admin Challenges:</strong>
                        <strong>{{ userChallengesStats.numberOFAdminWinChallenges }} times</strong>
                    </div>
                </div>
            </div>
            <div class="inner-section pictures">
                <h2>Most Liked Pictures</h2>
                <div class="content">
                    @if (pictures.length === 0) {
                        <div>
                            <p>No pictures uploaded yet.</p>
                        </div>
                    }
                    @for (picture of pictures; track picture.id) {
                        <div class="item">
                            <a (click)="openPicturePopup(picture)">
                                <img [src]="picture.imageUrl" alt="One of most liked picture for the user"
                                     class="profile-picture">
                            </a>
                            @if (showPicturePopup) {
                                <div class="modal" (click)="closePicturePopup()">
                                    <div class="modal-content" (click)="$event.stopPropagation()">
                                        <img [src]="selectedPicture.imageUrl"
                                             alt="One of most liked picture for the user" class="modal-picture">
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <a [routerLink]="['/profile/username', userDetails.username, 'all-pictures']" class="button">See All
                    Pictures</a>
            </div>
        </div>
    </div>

    @if (showReportModal) {
        <div class="report-modal-backdrop">
            <div class="report-modal">
                <h2>Report User</h2>
                <p>Please provide a reason for reporting this user:</p>
                <textarea [(ngModel)]="reportReason" placeholder="Enter your reason here..." rows="4"></textarea>
                <div class="modal-buttons">
                    <button
                        class="submit-report-btn"
                        [disabled]="!reportReason || reportReason.trim().length === 0"
                        (click)="submitReport()">
                        Submit
                    </button>
                    <button
                        class="cancel-report-btn"
                        (click)="closeReportModal()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    }

    @if (showFriendsModal) {
        <div class="modal-friends-followers" (click)="closeFriendsModal()">
            <div class="modal-friends-followers-content" (click)="$event.stopPropagation()">
                <div class="close-friends">
                    <h2>All Friends</h2>
                    <button class="close-modal" (click)="closeFriendsModal()">Close</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Profile Picture</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (friend of currFriends; track friend.id) {
                            <tr>
                                <td>
                                    <img [src]="friend.profilePicturePath" alt="Profile Picture"
                                         class="profile-picture">
                                </td>
                                <td>{{ friend.username }}</td>
                                <td><a [href]="'/profile/username/' + friend.username" target="_blank">View profile</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @if (showFollowerModal) {
        <div class="modal-friends-followers" (click)="closeFollowerModal()">
            <div class="modal-friends-followers-content" (click)="$event.stopPropagation()">
                <div class="close-friends">
                    <h2>All Followers</h2>
                    <button class="close-modal" (click)="closeFollowerModal()">Close</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Profile Picture</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (follower of currFollowers; track follower.id) {
                            <tr>
                                <td>
                                    <img [src]="follower.profilePicturePath" alt="Profile Picture"
                                         class="profile-picture">
                                </td>
                                <td>{{ follower.username }}</td>
                                <td><a [href]="'/profile/username/' + follower.username" target="_blank">View profile</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</body>

<app-footer/>
