<h2>Manage Moderator Permissions</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Permissions</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>testModerator</td>
      <td>
        <div class="permissions">
          <label>
            <input type="checkbox"> Delete Message
          </label>
          <label>
            <input type="checkbox"> Delete Picture
          </label>
        </div>
      </td>
      <td>
        <button class="save-role-btn">Save</button>
      </td>
    </tr>
  </tbody>
</table>

