<h2>Ban Users</h2>
<input type="text" placeholder="Search by username or email" [(ngModel)]="searchTerm" (input)="filterUsers()"
       class="search-box"/>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (user of filteredUsers; track user.id) {
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td class="two-buttons">
                    <!-- Ban button should be disabled if the user is already banned -->
                    <button
                        class="ban-btn"
                        [disabled]="user.banned"
                        (click)="openBanModal(user)">
                        Ban User
                    </button>

                    <!-- Unban button should be disabled if the user is not banned -->
                    <button
                        class="un-ban-btn"
                        [disabled]="!user.banned"
                        (click)="openUnbanModal(user)">
                        Unban User
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (selectedUser) {
    @if (isBanModalOpen) {
        <div class="ban-modal-overlay">
            <div class="ban-modal">
                <h3>Ban User - {{ selectedUser.username }}</h3>
                <label for="banReason">Reason for Ban</label>
                <textarea id="banReason" [(ngModel)]="banReason"></textarea>
                <button class="confirm-ban" (click)="confirmBan()" [disabled]="!banReason">Confirm Ban</button>
                <button (click)="closeBanModal()">Cancel</button>
            </div>
        </div>
    }

    @if (isUnbanModalOpen) {
        <div class="ban-modal-overlay">
            <div class="ban-modal">
                <h3>Unban User - {{ selectedUser.username }}</h3>
                <p><strong>Reason for Banning:</strong></p>
                <p>{{ selectedUser.reasonForBan }}</p>
                <button class="confirm-unban" (click)="unbanUser()">Confirm Unban</button>
                <button (click)="closeUnbanModal()">Cancel</button>
            </div>
        </div>
    }
}
