<h2>Manage Admin Permissions</h2>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Permissions</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (admin of admins; track admin.id) {
            <tr>
                <td>{{ admin.username }}</td>
                <td>
                    <div class="permissions">
                        <label>
                            <input type="checkbox" [(ngModel)]="admin.permissions.approveUsers"> Approve Users
                        </label>
                        <label>
                            <input type="checkbox" [(ngModel)]="admin.permissions.changeUserRoles"> Change User Roles
                        </label>
                        <label>
                            <input type="checkbox" [(ngModel)]="admin.permissions.banUsers"> Ban Users
                        </label>
                        <label>
                            <input type="checkbox" [(ngModel)]="admin.permissions.answerFeedback"> Answer Feedback
                        </label>
                        <label>
                            <input type="checkbox" [(ngModel)]="admin.permissions.deleteMessage"> Delete Message
                        </label>
                        <label>
                            <input type="checkbox" [(ngModel)]="admin.permissions.deletePicture"> Delete Picture
                        </label>
                    </div>
                </td>
                <td>
                    <button class="save-role-btn" (click)="savePermissions(admin)">Save</button>
                </td>
            </tr>
        }
    </tbody>
</table>
