<h2>My Friends</h2>
<input type="text" placeholder="Search by username or email" [(ngModel)]="searchTerm" (input)="filterFriends()"
       class="search-box"/>

<table>
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (friends.length > 0) {
            @for (friend of filteredFriends; track friend) {
                <tr>
                    <td>
                        <img
                            [src]="friend.profilePicture"
                            alt="Profile Picture"
                            class="profile-picture">
                    </td>
                    <td>{{ friend.username }}</td>
                    <td class="three-buttons">
                        <button class="view-btn" (click)="viewFriendProfile(friend)">View Profile</button>
                        <button class="unfriend-btn" (click)="unfriend(friend)">Unfriend</button>
                        <button class="block-btn" (click)="confirmBlock(friend)">Block</button>
                    </td>
                </tr>
            }
        } @else {
            <div class="no-friends-container">
                <p class="no-friends-text">You have no friends yet.</p>
            </div>
        }
    </tbody>
</table>


